*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:skyblue;
}
.photo1{
    height: 65vh;
    width: 30%;
}
.photo{
    text-align: center;
    color: rgb(255, 0, 119);
}
table{
    padding: 1px;
    border: 3px solid #3c00e0;
    background-color: #cfcad8;
}
tr,td,th{
    border: 2px solid rgb(255, 75, 4);
}
.header{
    margin-top: 2%;
    margin-bottom: 0.5%;
    text-align: center;
    border: 3px solid rgb(226, 43, 211);
    font-weight: 800;
    font-size: 130%;
    color: rgb(255, 20, 20);
}
.line1{
    width: 100%;
    display: inline;
    display: flex;
/*     font-size: 100%; */
}
.line2{
    display: inline;
    display: flex;
    font-size: 200%;
}
.java{
    margin-top: 2%;
    margin-bottom: 0.5%;
    text-align: center;
    border: 3px solid rgb(226, 43, 211);
    font-weight: 800;
    font-size: 130%;
    color: rgb(255, 20, 20);
}
.line3{
    display: flex;
}
